body {
  font-family: "Montserrat", sans-serif;

  display: table-cell;
  vertical-align: middle;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
.icon {
  margin: 0;
  padding: 0px 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: 1000;
  text-align: center;
  color: #f1ebf3;
}

h3,
h4 {
  font-size: 12px;
  color: #f1ebf3;
  font-weight: bold;
}

.card {
  background: #8594e4;
  height: 650px;
  width: 600px;
}

.clouds {
  opacity: 70%;
}

.button {
  background-color: #a393eb;
  border: 1px groove#430f58;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  width: 80px;
}

input[type="text"] {
  border: 2px groove#430f58;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  width: 180px;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}
.search-form {
  text-align: center;
}
.footer {
  text-align: center;
  font-size: 12px;
  color: rgb(238, 67, 158);
}
.footer a {
  text-decoration: none;
}

.units .active {
  color: #f1ebf3;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
.units a {
  color: rgb(238, 67, 158);
  text-decoration: none;
}

.row {
  text-align: center;
  font-size: 16px;
  color: #f1ebf3;
  font-weight: bold;
}

.forecast {
  margin: 20px;
  padding-left: 60px;
  text-align: center;
}

.date {
  font-size: 20px;
}

.forecast .min {
  opacity: 0.3px;
}
